# Application Settings
APP_VERSION=0.1.0
DEBUG=false
ENVIRONMENT=development
SERVICE_NAME=research-assistant

# PostgreSQL
POSTGRES_DB=rag_db
POSTGRES_USER=rag_user
POSTGRES_PASSWORD=change-me
POSTGRES_DATABASE_URL=postgresql+psycopg2://rag_user:change-me@research-assistant-postgres:5432/rag_db
POSTGRES_ECHO_SQL=false
POSTGRES_POOL_SIZE=20
POSTGRES_MAX_OVERFLOW=0

# Qdrant
QDRANT_URL=http://research-assistant-qdrant:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=arxiv_papers

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=true
AIRFLOW__HOME=/opt/airflow
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://rag_user:change-me@research-assistant-postgres:5432/rag_db
